[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
pyautogui = "*"
holidays = "*"
python-dotenv = "*"
workadays = "*"

[dev-packages]

[scripts]
gap = "python main.py"
today = "python main.py --today"
help = "python main.py --help"

[requires]
python_version = "3.11"
